<div class="card">
    <img class="banner"
        src="https://images.pexels.com/photos/884977/pexels-photo-884977.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
    <div class="card-text">

        <h3>Highlights</h3>

        <ul>
            <li>
                Second interim dividend of 18 US cents per share, making a total for 2021 of 25 US cents per share, 67%
                higher than FY20
            </li>
            <li>
                Intend to initiate an incremental share buy-back of up to $1bn, to commence after the up-to-$2bn
                buy-back already in progress has concluded
            </li>
            <li>
                Reported profit before tax increased by 115% compared with FY20
            </li>
        </ul>

        <button>Open a new bank account</button>

    </div>
</div>