<form action="/api/register" method="POST" class="login-form">
    <h3>Open a bank account</h3>

    <p>
        <label>Email</label><br/>
        <input name="email"/>
    </p>

    <p>
        <label>Password</label><br/>
        <input name="password" type="password"/>
    </p>

    <p>
        <label>Password Verification</label><br/>
        <input name="password_verif" type="password"/>
    </p>

    <p>
        <label>First Name</label><br/>
        <input name="first_name"/>
    </p>

    <p>
        <label>Last Name</label><br/>
        <input name="last_name"/>
    </p>

    <p>
        <input type="submit" value="Register" class="button"/>
    </p>


</form>